<mat-card class="my-card" [routerLink]="annonce.id">
    <mat-card-header class="card-header" matTooltip="{{'tooltipMsg' | translate }}" matTooltipPosition="above">
        <mat-card-title>
            <span *ngIf="annonce.status === 'VALIDATED' && isAdmin" matBadge="OK" matBadgeColor="accent"></span>
            <span *ngIf="annonce.status === 'REFUSED' && isAdmin" matBadge="X" matBadgeColor="warn"></span>
            {{annonce.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{annonce.createdAt! | localizedDate | async}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{annonce.text}}</p>
    </mat-card-content>

    <img [hidden]="!annonce.coverPhoto" mat-card-image [src]="annonce.coverPhoto" [alt]="annonce.title">
    <mat-card-footer>
        <div class="contact-container">
            <div *ngIf="annonce.contactName" class="contact-info">
                <mat-icon svgIcon="person" aria-hidden="false"></mat-icon>
                {{annonce.contactName}}
            </div>
            <div *ngIf="annonce.contactPhone" class="contact-info"> 
                <mat-icon svgIcon="phone" aria-hidden="false"></mat-icon>
                {{annonce.contactPhone}}
            </div>
            <div *ngIf="annonce.contactEmail" class="contact-info"> 
                <mat-icon svgIcon="email" aria-hidden="false"></mat-icon>
                {{annonce.contactEmail}}
            </div>
            <div *ngIf="annonce.location" class="contact-info"> 
                <mat-icon svgIcon="place" aria-hidden="false"></mat-icon>
                {{annonce.location}}
            </div>
        
        </div>
    </mat-card-footer>
    <mat-card-actions *ngIf="isAdmin">
      <button mat-button (click)="onValidate()" [disabled]="annonce.status === 'VALIDATED'">VALIDATE</button>
      <button mat-button (click)="onRefuse()" [disabled]="annonce.status === 'REFUSED'">REFUSE</button>
    </mat-card-actions>
  </mat-card>
