@use '@angular/material' as mat;
$amber-palette: mat.define-palette(mat.$amber-palette);

.header-container {
    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2rem;
    }
    @media screen and (max-width: 500px) {
        h1 {
            font-size: 1rem;
        }
        .mat-flat-button {
            padding: 0px 2px;
        }
    
      }
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;

}