<div class="list-container">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="{{'Demands' | translate }}">
            <div class="column">
                <div class="card-wrapper" *ngFor="let seek of annoncesSeek">
                    <annonce-card [annonce]="seek" [isAdmin]="isAdmin"></annonce-card>
                </div>
            </div>
            <div *ngIf="annoncesSeek.length === 0" class="div-no-item">
                <h1>{{'No demands yet' | translate }}</h1>
            </div>
        </mat-tab>
        <mat-tab label="{{'Offers' | translate }}">
            <div class="column">
                <div class="card-wrapper" *ngFor="let offer of annoncesOffer">
                    <annonce-card [annonce]="offer" [isAdmin]="isAdmin"></annonce-card>
                </div>
            </div>
            <div *ngIf="annoncesOffer.length === 0" class="div-no-item">
                <h1>{{'No offers yet' | translate }}</h1>
            </div>
        </mat-tab>
        <mat-tab label="{{'Questions' | translate }}">
            <div class="column">
                <div class="card-wrapper" *ngFor="let question of questions">
                    <annonce-card [annonce]="question" [isAdmin]="isAdmin"></annonce-card>
                </div>
            </div>
            <div *ngIf="questions.length === 0" class="div-no-item">
                <h1>{{'No questions yet' | translate }}</h1>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
