.btn-locale-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .locale-btn {
        margin: 0px 3px;
    }

    .selected {
        background-color: #880E4F;
    }
}
