/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '~@aws-amplify/ui-angular/theme.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

[hidden] {
    display: none !important;
}

$my-palette: mat.define-palette(mat.$indigo-palette);
$amber-palette: mat.define-palette(mat.$amber-palette);
$teal-palette: mat.define-palette(mat.$teal-palette);
.my-card {
  background-color: mat.get-color-from-palette($teal-palette, 50);
  color: mat.get-color-from-palette($amber-palette, 100-contrast);
}

.contact-container {
  background-color: mat.get-color-from-palette($my-palette, 600);
  color: mat.get-color-from-palette($my-palette, 600-contrast);
}

.card-header {
  justify-content: center;
  border-bottom: 2px solid mat.get-color-from-palette($my-palette, 400);
  margin-bottom: 0.5rem;
}

.header-container {
  background-color: mat.get-color-from-palette($teal-palette, 400);
  color: mat.get-color-from-palette($my-palette, 700);
}

